.moviegrid-box {
    aspect-ratio: 2/3;
    background-color: #212121;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
}

.pop-up-guess {
    display: none;
    position: fixed;
    top: 40%;
    padding: 10px 20px 20px 20px;
    background-color: #383838;
    color: white;
}
